.configuration-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 2rem;

    max-width: 1050px;
    width: 100%;
}

.option-group {
    & > label {
        font-size: 1.3rem;
        font-weight: bolder;
    }

    flex-grow: 1;
    max-width: 1050px;

    flex-direction: column;

    display: flex;
    gap: 1rem;
}

@media screen and (min-width: 1050px) {
    .option-group {
        flex-direction: row;
    }
}

.option {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    margin-inline-start: 1rem;

    label {
        font-weight: bolder;
    }

    input {
        display: block;
        flex-grow: 1;
        min-width: 100px;
    }
}
